@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@100;400;700;800;900&family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-image: linear-gradient(to bottom, #2b1454, #9b27b000);
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    padding: 10px;
}

.navbar a:hover {
    background-color: blueviolet;
    text-decoration: underline;
    border-radius: 10px;
}

.logo {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    width: 30px;

}

picture img {
    width: 100%;
}

.info {
    background-color: #9c27b0;
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: -7px;
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.459);
    font-size: 2vw;

}

.image > img {
    
    max-width: 500px;
    margin-right: 60px;
    border-radius: 10px;
    width: 95vw;
}

.text {
    
    color: white;
    padding: 30px;
    background-color: #c832e2a6;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    font-size: 3vw;
}

.text > h1 {
    font-size: 5vh;
    padding-bottom: 20px;
    max-height: 500px;
}

@media (max-width: 1100px) {
   .info {
    align-items: center;
    flex-direction: column;
    padding: 60px;

    }

    .image {
        padding-bottom: 20px;
    }
    
    .image > img {
        margin: 20px;
    }

    .text {
        margin: 0px;
    }
}

@media (min-width:1100px) {
    .text {
        font-size: 1.5vw;
    }
}

#fundo {
    background-color: rgb(228, 228, 228);
    font-size: 2em;
    height: 800px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: auto;
}

.title h1 {
    text-align: center;
    margin-bottom: 30px;
}

div.content {
    display: flex;
    justify-content: space-around;
}

div.video {
    background-color: #2b1454;
    width: 300px;
    height: 500px;
    margin: auto;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    background-color: #9c27b0;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.pc {
    background-color:#c832e2a6;
    min-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #2b14548a;
    color: white;
    margin-right: 30px;
    margin-bottom: 20px;
}

.pc h2 {
    margin-bottom: 10px;
}

.pc ul {
    list-style-position: inside;
}

#links {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.link01 {
    padding-right: 30px;
    height: 60px;
    margin: 20px;
}

.link02 {
    padding-right: 30px;
    height: 60px;
    margin: 20px;
}

.link03 {
    padding-right: 30px;
    height: 60px;
    margin: 20px;
}

.link04 {
    padding-right: 30px;
    height: 60px;
    margin: 20px;
}

.link05 {
    padding-right: 30px;
    height: 60px;
    margin: 20px;
}

.link06 {
    padding-right: 30px;
    height: 60px;
    margin: 20px;
}
div .logo2 {
    width: 60px;
}

.final {
    background-color: #2b1454;
    color: white;
    text-align: center;
    padding: 10px;
}

p > a {
    text-decoration: none;
    color: #9c27b0;
}